<!--
  クエリパラメータがある場合ページ内スクロールがうまく動作しないため
  各hrefに index.html を付与している
-->

{{!--
  Renders the sidebar navigation
  @param {object} $context$ the whole swagger definition
  @api public
--}}
<nav id="nav" role="navigation">
  <h5>Topics</h5>
  {{#unless info.x-spectacle-hide}}
    <a href="index.html#introduction">Introduction</a>
  {{/unless}}

  {{#if securityDefinitions}}
   {{#unless securityDefinitions.x-spectacle-hide}}
     <a href="index.html#authentication">Authentication</a>
   {{/unless}}
  {{/if}}

  {{#if x-spectacle-topics}}
    {{#each x-spectacle-topics}}
      <a href="index.html#topic-{{htmlId @key}}">{{@key}}</a>
    {{/each}}
  {{/if}}

  {{#if showTagSummary}}
    <h5>Operations</h5>
    {{#each tags}}
      <section>
        <a href="index.html#tag-{{htmlId name}}">{{name}}</a>
        <ul>
          {{#each operations}}
            <li>
              <a href="index.html#operation-{{htmlId path}}-{{htmlId method}}">
                {{toUpperCase method}} {{path}}
                <!--
                {{#if summary}}
                  {{summary}}
                {{else}}
                  {{toUpperCase method}} {{path}}
                {{/if}}
                -->
              </a>
            </li>
          {{/each}}
        </ul>
      </section>
    {{/each}}
  {{else}}
    <h5>Paths</h5>
    {{#each paths}}
      <!-- <section>
        <a href="index.html#path-{{htmlId @key}}">{{@key}}</a>
        <ul> -->
          {{#each .}}
            <!-- <li> -->
              <a href="index.html#operation-{{htmlId path}}-{{htmlId method}}" target="_self">
                {{toUpperCase method}} {{path}}
                <!--
                {{#if summary}}
                  {{summary}}
                {{else}}
                  {{toUpperCase method}} {{path}}
                {{/if}}
                -->
              </a>
            <!-- </li> -->
          {{/each}}
        <!-- </ul>
      </section> -->
      {{#each .}}
        {{!swagger/operation . operation=. method=@key path=../path}}
      {{/each}}
    {{/each}}
  {{/if}}

  <h5>Schema Definitions</h5>
  {{#each definitions}}
    <a href="index.html#definition-{{htmlId @key}}">
      {{@key}}
    </a>
  {{/each}}


</nav>
